@import './sections/login-page';

header {
    img{
        width: 50px;
    }
}

#add-page,#main-page,#delete-page{
    display: none;
}

#searchInput{
    font-size: 25px;
}

.navbar {
    font-size: 30px;
}
